<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.example.sentimentanalysis.mapper.InferenceRecordsMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="org.example.sentimentanalysis.model.InferenceRecords">
        <id column="inference_id" property="inferenceId" />
        <result column="inference_task_id" property="inferenceTaskId" />
        <result column="comment_id" property="commentId" />
        <result column="model_id" property="modelId" />
        <result column="domain_id" property="domainId" />
        <result column="positive_prob" property="positiveProb" />
        <result column="negative_prob" property="negativeProb" />
        <result column="model_sentiment" property="modelSentiment" />
        <result column="inference_time" property="inferenceTime" />
        <result column="confidence" property="confidence" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        inference_id, inference_task_id, comment_id, model_id, domain_id, positive_prob, negative_prob, model_sentiment, inference_time, confidence
    </sql>

</mapper>
